# Ignore Mac system files
.DS_Store

# -----------------------------------------------------------------------------
# Visual Studio Code
# -----------------------------------------------------------------------------
.vscode/
.history/